*{
  padding: 0px;
  margin: 0px;
  font-family: 'Inter', sans-serif;
}

.header{
  /* width: 360px; */
  background-color: white;
  height: 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
}

.hamburg {
  width: 15%;
  padding: 0px 20px;
  box-sizing: border-box;
  margin: auto;
  position: absolute;
  top: 30px;
}

.account {
  box-sizing: border-box;
  margin: auto;
  position: absolute;
  right: 10px;
  top: 20px;
  /* float: right; */
}

.account img{
  width: 35px;
}

.logo{
  padding: 0px 20px;
  box-sizing: border-box;
  margin: 15px auto;
}

.modal{
  background-color: white;
  width: 70%;
  height: 868px;
  position: absolute;
  top: 0;
  visibility: hidden;
  transform: translate(-100%);
  transition: transform 0.3s ease-out;
  z-index: 100;
  display: flex;
  flex-direction: column;
  /* row-gap: 20px; */
  padding: 0px 0px;
}

.navitem{
  /* background-color: gray; */
  border-bottom: 1px solid gray;
  padding: 30px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
}

.modal_background{
  background-color: black;
  opacity: 0;
  width: 100%;
  height: 868px;
  position: absolute;
  top: 0;
  visibility: hidden;
  transition: opacity 0.3s linear;
  z-index: 100;
}

body{
  /* overflow: hidden; */
  background: white;
}

/* End of modal */

.first_page{
  background: #86E5FF;

}

.search{
  position: relative;
  bottom: 15px;
  width: 80%;
  height: 38px;
  background-color: white;
  margin: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
}

.searchicon{
  padding: 0px 5px;
}

.searchinput{
  border-width: 0px !important;
  height: 20px;
  width: 100%;
}

.services{
  width: 90%;
  height: 210px;
  padding-top: 20px;
  /* background-color: yellow; */
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: flex-start;
  grid-column-gap: 40px;
  padding-bottom: 20px;
}

.imgcircle{
  border-radius: 75%;
  background-color: white;
  width: 67px;
  height: 67px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.favorites_and_services{
  background: url("../Images/BG1.png");
  width: 100%;
  height: 500px;
}

.favorites{
  margin: auto;
  width: 85%;
  font-weight: bold;
}

.favorites p{
  padding-left: 10px;
}

.favorites_box{
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100%;
  height: 75px;
    overflow: scroll;
  padding: 0px 10px;
}

.past_services{
  margin: 20px auto 0px;
  width: 85%;
  font-weight: bold;
}

.past_services p{
  padding-left: 10px;
}

.past_services_box{
  background: #86E5FF;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100%;
  height: 300px;
  padding: 15px 0px 5px;
  box-sizing: border-box;
  overflow: scroll;
}

.past_services_box img{
  width: 95%;
  position: relative;
  left: 2.5%;
}
